<main>
    <article class="hero">
        <div class="hero-text">
            <h1>{{heroProject.title}}</h1>
            <p>{{heroProject.excerpt}}</p>
            <p>{{heroProject.published_date}}</p>
            <p>{{heroProject.url}}</p>
        </div>
        <div class="box"></div>
    </article>

    <div class="banner-text">
        <h1>Hey there!</h1>
        <p>I'm <span class="name">Ceilidh</span>.</p>
        <p>I'm a full-stack web developer with a passion for learning and creating.</p>
        <p>Check out my projects, or you can</p>
        <a class="btn" href="mailto:ceilidhashcroft@shaw.ca">Get in touch</a>
    </div>
</main>